{% extends 'coursematerial/section.html' %}

{% block title %} General {% endblock %}

{% block content %}
{% for post in general_posts %}
    {{ post.title }}
    {{ post.author }}
{% endfor %}

<div>
        {% if general_posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ general_posts.previous_page_number }}">previous</a>
        {% endif %}
<span>
Page {{ general_posts.number }} of {{ general_posts.paginator.num_pages }}.
</span>
        {% if general_posts.has_next %}
            <a href="?page={{ general_posts.next_page_number }}">next</a>
            <a href="?page={{ general_posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
</span>
</div>


{% endblock %}