<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
<div id="main_header">
    <hi>EduPam</hi>

</div>
<div id="header">
    <ul>
        <li><a href="#">Course Material</a></li>
        <li><a href="#">Scholar Forum</a></li>
        <li><a href="#">Calculate Grade</a></li>
        <li><a href="#">Life After School</a></li>
        <li><a href="#">Life Opportunity</a></li>
        <li><a href="#">Calculate Grade</a></li>
        <li><a href="#">Admission Info</a></li>
        <li><a href="#">Aspirant Forum</a></li>
        <li><a href="{% url 'award_view' %}">Create Award Campaign</a></li>

    </ul>
</div>

<div id="search_box">
    {% block search_box %}
    <h2>
        Search here:
    </h2>

    {% endblock %}

</div>

<div id="page_header">
    {% block page_header %}
    <h2>
        Scholar Forum
    </h2>

</div>
   {% endblock %}

<!-- navigation header -->

<div id="sub_header">
    {% block sub_header %}
      <ul>
        <li><a href="{% url 'academic_post' %}">Academic</a></li>
        <li><a href="{% url 'knowledge_post' %}">knowledge</a></li>
        <li><a href="{% url 'opportunity_post' %}">Opportunity</a></li>
        <li><a href="{% url 'business_post' %}">Business Hub</a></li>
        <li><a href="{% url 'admission_post' %}">Admission Info</a></li>
        <li><a href="{% url 'events_post' %}">Events</a></li>
        <li><a href="{% url 'relationship_post' %}">Relationship</a></li>
        <li><a href="{% url 'politics_post' %}">Politics</a></li>
        <li><a href="{% url 'award_post' %}">Awards</a></li>
        <li><a href="{% url 'creative_writing_post' %}">Creative Writing</a></li>
        <li><a href="{% url 'general_post' %}">General</a></li>
    </ul>
    {% endblock %}
</div>

<div id="content">
    {% block content %}
    {% load socialaccount %}
{% if user.is_authenticated %}
    Welcome {{ user.username }}

    <h3><a href="{% url 'post_form' %}">Create a forum post here</a></h3>

    <div>
        <a href="{% url 'award_view' %}">Creata secure, free and fair voting Campaign</a>
    </div>
    <p>
        <a href="{% url 'logout' %}"><b>Log out</b></a>
    </p>
    <p>
        <a href="user/password_change/">Change password</a>
    </p>
{% else %}
    <p> Sign Up here!
        Sign up through facebook <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook Login</a>
        Sign up through google <a href="{% url 'google_login' %}">Google</a>
        Sign up with Instagram <a href="{% url 'instagram_login' %}">Instagram<a/>
    </p>
    <p>
       Or Sign up manually here
        <a href="{% url 'signup' %}"><b>Sign Up</b></a>
    <p>
        Sign in:
        <a href="{% url 'login' %}">Sign In</a>
    </p>
{% endif %}

    <p>
        Create an article content <a href="{% url 'contentform' %}">Here</a>
    </p>
    {% endblock %}
</div>
</body>
</html>