{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contestants</title>

</head>
<body>

    <form action="" method="POST">
        {% csrf_token %}
        <div>
            {{ category_form }}
        </div>

        {{ formset.management_form }}
        <div id="form_set">
            {% for form in formset.forms %}
                {{form.non_field_errors}}
                {{form.errors}}
                <table class='no_error'>
                    {{ form }}
                </table>
            {% endfor %}
        </div>
        <input type="button" value="Add More" id="add_more">
        <div id="empty_form" style="display:none">
            <table class='no_error'>
                {{ formset.empty_form }}
            </table>
        </div>

        <button type="submit">Submit</button>
    </form>



<script src="{% static 'jquery/jquery-3.4.0.js' %}"></script>
<script src="{% static 'voting/form_dynamic.js' %}"></script>
</body>

</html>