{% extends "coursematerial/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Award {% endblock %}
{% block content %}

# will create link to dashboard here
>Return the dashboard to manage all your campaign   
</h3>


<P>
    Vote end on {{award_detail.vote_end}}
    {% if award_detail.category_set.all %}

        There are {{ award_detail.category_set.all.count }}

        {% for category in award_detail.category_set.all %}
            {{ category }}

        {% endfor %}

    {% endif %}
</P>

<p>
    The voting end on {{ award_detail.vote_end}}
</p>

<p>
    <a href="{% url 'category_and_contestant' pk=award_detail.pk %}">Create category and contestants</a>
</p>

<p>
    Start the 
</p>


{% endblock %}