{% extends "coursematerial/section.html" %}

{% block title %}Past Question{% endblock %}

{% block content %}
{{ past_question_file.course_title }}
{{ past_question_file.course_code }}
{{ past_questions_file.course_code }}

<div>
    {% if past_question_file is not None %}
        {{ past_question_file.review }}
    {% else %}
        No review for the file.
    {% endif %}
    <form action="ReviewQuestion/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>


{% endblock %}