{% extends "coursematerial/base.html" %}
{% block title %} me {% endblock %}

<div>

    {% block content %}
    <a href="{% url 'curator_profile' content_id=content_data.pk %}">{{ content_data.author }}</a>
    {{ content_data.title}}
    <p>
        {{ content_data.content|safe }}
    </p>
    <p>
        {% if request.user == content_data.author %}
            <a href="{% url 'edit_content' content_data.pk content_data.slug %}">Edit your content</a>
        {% endif %}
    </p>

</div>


{% endblock %}